@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #333;
  --secondary-text-color: #666;
  --link-color: #007bff;
  --accent-color: #ff5733;
  --header-footer-bg: #f8f9fa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #e0e0e0;
    --secondary-text-color: #b0b0b0;
    --link-color: #4abdac;
    --accent-color: #ff6f61;
    --header-footer-bg: #1f1f1f;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  @apply font-sans;
  @apply text-base;
}
a {
  color: var(--link-color);
}
a:hover {
  color: var(--accent-color) @apply transition-colors duration-200;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.nav-style li {
  @apply mr-1;
  @apply p-1;
}
.nav-style li:hover {
  @apply border  border-yellow-100  rounded;
  @apply text-yellow-100;
  @apply transition-all duration-200 ease-in-out;
}
.nav-active {
  @apply border rounded text-yellow-100;
  @apply border-yellow-100;
}

@layer base {
  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-2xl;
  }
  h5 {
    @apply text-xl;
  }
  h6 {
    @apply text-xl;
  }

  /* p */

  p {
    @apply text-xs md:text-lg;
  }
}
