@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #2c2c2c;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2c2c2c;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  @apply font-sans;
  @apply text-base;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.nav-style li {
  @apply mr-1;
  @apply p-1;
}
.nav-style li:hover {
  @apply border  border-yellow-100  rounded;
  @apply text-yellow-100;
  @apply transition-all duration-200 ease-in-out;
}
.nav-active {
  @apply border rounded text-yellow-100;
  @apply border-yellow-100;
}

@layer base {
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
  h6 {
    @apply text-sm;
  }

  /* p */

  p {
    @apply text-xs md:text-lg;
  }
}
